main {
  min-height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main > section {
  display: flex;
  gap: 20px;
}

main img {
  height: 60px;
  width: auto;
  filter: brightness(100%);
  transition: 0.2s ease-in-out;
}

#scissors-btn {
  transform: rotate(-90deg);
}

#rock-btn {
  transform: rotate(-90deg);
}

main img:hover {
  transform: scale(1.2) rotate(15deg);
}

main button {
  border: none;
  background-color: transparent;
}
